html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

nav {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
}

a {
    color: white;
    text-decoration: none;
}